/* .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.navigation {
    padding: 2.5em 8em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 19em;
    width: 15%;
}

.navigation__paginas {
    margin-right: auto;
}

.navigation__lista {
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.navigation__links {
    font-size: 1.3em
}

.navigation__links,
.navigation__logo-link {
    text-decoration: none;
    color: var(--cinza-claro);
    font-weight: 500;
}

.navigation__logo-link {
    text-decoration: none;  
    font-size: 1.8em;
    color: var(--cinza-escuro);
    margin-left: 0.4em; 
}

.navigation__button,
.navigation__button-cadastro {
    cursor: pointer;
    font-family: var(--fonte);
    border: none;
    font-size: 1.4em;
    font-weight: 500;
}

.navigation__button {
    background-color: transparent;
    color: var(--cinza-claro);
}

.navigation__button-cadastro {
    padding: 0.625em 1.125em;
    margin-left: 1.2em;
    background-color: var(--marrom);
    color: var(--branco);
    border-radius: 8px;
}

.cabecalho__textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 9em 0 9em 0;
}

.cabecalho__subtitulo {
    color: var(--marrom);
    font-weight: 500;
    font-size: 1.2em;
}

.cabecalho__titulo {
    margin: 0.5em 0 0.8em 0;
    color: var(--cinza-escuro);
    font-weight: 800;
    font-size: 4.5em;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.cabecalho__paragrafo {
    color: var(--cinza-claro);
    font-size: 1.5em;
    font-weight: 400;
}