.container__metricas {
    display: flex;
    justify-content: center;
    padding: 0 2em 6em 2em;
}

.container__metricas-textos {
    margin: 0 2em;

}

.container__metricas-titulo {
    color: var(--marrom);
    font-size: 5em;
    font-weight: bold;
}

.container__metricas-subtitulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 2em;
    margin: 1em 0 0.8em 0;
}

.container__metricas-texto {
    text-align: left;
    color: var(--cinza-claro);
    font-size: 1.3em;
    font-weight: 400;
}

.container__vagas {
    padding: 6em 0 6em 0;
}

.vagas__apresentacao\-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.vagas__apresentacao\-textos span {
    background-color: #F9F4F4;
    color: var(--marrom);
    padding: 0.3em 0.8em;
    border-radius: 15px;
    font-weight: 600;
}

.vagas__apresentacao\-textos strong {
    color: #000000;
    font-size: 2.5em;
    font-weight: 900;
    margin: 25px 0 25px 0;
}

.vagas__apresentacao\-textos p {
    color: var(--cinza-claro);
    font-size: 1.5em;
}

.vagas__apresentacao > .banner {
    margin: 4em 0;
    background-image: url('../assets/Image.png'); /* ajuste o caminho */
    background-size: contain;       /*faz preencher todo o espaço */
    background-position: center;  /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetição */
    height: 500px;
    width: 100%;                  
}

.cargo__especificacoes {
    padding: 0 30%;
}

.cargo__especificacoes h2 {
    margin-bottom: 2em;
    color: var(--cinza-escuro);
    font-size: 1.5em;
    font-weight: 700;
}

.cargo__textos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5em;
    border: #e5e7eb 0.5px solid;
    border-radius: 12px;
    margin-top: 1.5em;
    padding: 1.5em;
}

.cargo__textos h3 {
    color: var(--cinza-escuro);
    font-size: 1.2em;
    font-weight: 600;
}

.detalhes span {
    color: var(--cinza-claro);
    font-weight: 650;
    margin-right: 1.5em;
}

#margin-top {
    margin-top: 4em;
}

.container__feedback {
    padding: 0 15% 6em 15%;
}

#elemento-pai {
    background-color: #F9F4F4;
    padding: 4em;
    border-radius: 10px;
    text-align: center;
}

.container__feedback\-textos {
    margin-bottom: 2.5em;
}   

.container__feedback\-textos h3 {
    color: var(--marrom);
    font-weight: bold;
}

.container__feedback\-textos h2 {
    margin-top: 1rem;
    font-size: 2.5em;   
    font-weight: 500;
}

.container__feedback\-JuInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__feedback\-JuInfo img {
    height: 3.5%;
    width: 3.5%;
}

.container__feedback\-JuInfo strong {
    margin: 1.25rem 0 0.5rem 0;
    font-size: 1.3em;
    font-weight: 450;
}

.container__feedback\-JuInfo span {
    color: var(--cinza-claro);
    font-size: 1.1em;  
}