@import url(/styles/reset.css);
@import url(/styles/header.css);
@import url(/styles/main.css);
@import url(/styles/footer.css);

:root {
    --marrom: #8E2424;
    --gray: gray;
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --branco: #ffffff;
    --fonte: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 100vh;
}

main {
    padding: 0 5em;
}

p {
    line-height: 1.3em;
}